html {min-width: 360px;}
@media screen and (max-width:1504px){
    header .header_wrap .nav #sub .sub_contents ul .sub_contents_title {
        margin: 60px 50px 90px 50px;
        transition: all 0.5s;
}
header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 > a {
    font-size: 1.41rem; color: #fff; letter-spacing: -0.02rem;
    margin-left: 50px;
    display: inline-block; margin-bottom: 20px;
    transition: all 0.5s;
}
header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 ul li {
    margin: 0 50px 0 50px;
    width: 120px;
    padding-top: 10px;
    transition: all 0.5s;
}
main section .main_page #video01 {width:100%; height:auto;}
main section .main_page #video02 {width:100%; height:auto;}
main section .main_page {
    height:100%;
}
main section .main_page .main_text {
    width:100%;
    position: absolute; top:30%;
    text-align: center;
    z-index: 100;
    overflow: hidden;
}
main section .main_page .scroll {
    width:100%;
    position: absolute; bottom:30%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}
main section .main_page .play_wrap {
    width:100%;
    position: absolute; 
    bottom:35%;
    z-index: 100;
}
main section .category1 .category1_contents .text .text1 em {
    margin: 400px 0 25px 25px;
    font-size: 1.99rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: #fff;
}
main section .category1 .category1_contents .text .text1 span {
    font-size: 1rem;
}
main section .category1 .category1_contents .text .text1 img {
    width: 30px; height: 30px;
}
main section .category1 .category1_contents .text .text2 em {
    margin: 400px 0 25px 25px;
    font-size: 1.99rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: #fff;
    
}
main section .category1 .category1_contents .text .text2 span {
    font-size: 1rem;
}
main section .category1 .category1_contents .text .text2 img {
    width: 30px; height: 30px;
}
main section .category1 .category1_contents .text .text3 em {
    margin: 400px 0 25px 25px;
    font-size: 1.99rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: #fff;
    
}
main section .category1 .category1_contents .text .text3 span {
    font-size: 1rem;
}
main section .category1 .category1_contents .text .text3 img {
    width: 30px; height: 30px;
}
main section .category1 .category1_contents .text .text4 em {
    margin: 400px 0 25px 25px;
    font-size: 1.99rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: #fff;
    
}
main section .category1 .category1_contents .text .text4 span {
    font-size: 1rem;
}
main section .category1 .category1_contents .text .text4 img {
    width: 30px; height: 30px;
}
main section .category3 .category3_contents .product {
    width: 100%; height:75vh;
}
main section .category4 .notice .notice_contents ul li a {
    height:16vh;
}
main section .category4 .notice .notice_contents ul li a p {
    font-size: 1rem;
}
main section .category4 .notice .notice_contents ul li a span {
    font-size: 0.85rem;
}
main section .category4 .event .event_contents ul li a img {
    height:18vh;
}
main section .category5 .ir .price .sub_price ul li em {
    width: 40%; 
}
}
/* 1504px end */


@media screen and (max-width:1100px){
    header .header_wrap .nav #sub .sub_contents ul .sub_contents_title {
        margin: 60px 20px 90px 50px;
        transition: all 0.5s;
}
    header .header_wrap .nav #sub .sub_contents ul .sub_contents_title > a {
        font-size: 1rem; color: #fff; letter-spacing: -0.02rem;
        display: block; margin-bottom: 20px;
        transition: all 0.5s;
}
header .header_wrap .nav #sub .sub_contents ul .sub_contents_title .text_list .sub_contents_text a {
    color: #fff; letter-spacing: -0.02rem;
    display: block; font-size: 0.7rem;
    margin-top: 10px;
    transition: all 0.5s;
}
header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 > a {
    font-size: 1rem; color: #fff; letter-spacing: -0.02rem;
    margin-left: 50px;
    display: inline-block; margin-bottom: 20px;
    transition: all 0.5s;
}
header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 ul li {
    margin: 0 20px 0 50px;
    width: 120px;
    padding-top: 10px;
    transition: all 0.5s;
}
header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 ul li a {
    width: 100%; font-size: 0.75rem;
    display: block; color:#FFF;
    transition: all 0.5s;
}
main section .main_page {
    height:100%;
}
main section .main_page #video01 {
    width:100%; height:auto;
    position: relative;
    top: 0;
    z-index: 10;
}
main section .main_page #video02 {width:100%; height:auto;}
main section .main_page .main_text {
    width:100%;
    position: absolute; top:20%;
    text-align: center;
    z-index: 100;
    overflow: hidden;
}
main section .main_page .main_text h2 {
    font-size: 1.99rem;
    font-weight: 600; color:#fff;
    letter-spacing: -0.02rem;
    overflow: hidden;
}
main section .main_page .main_text p {
    font-size: 1rem;
}
main section .main_page .scroll {
    width:100%;
    position: absolute; bottom:55%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}
main section .main_page .scroll img {
    width: 20px; height:20px;
}
main section .main_page .play_wrap {
    width:100%;
    position: absolute; 
    bottom:57%;
    z-index: 100;
}
main section .main_page .play_wrap ul {
    
    margin-right: 30px;

}
main section .main_page .play_wrap ul li .play_bar01 .bar {
    width: 100px;
    border: 3px solid#fff;
    display: block;
    margin-top: 10px;
}
main section .main_page .play_wrap ul li .play_bar02 .bar {
    width: 100px;
    border: 3px solid#fff;
    display: block;
    margin-top: 10px;
}
main section .category1 h2 {
    font-size: 2.82rem;
}
main section .category1 .category1_contents .text .text1 em {
    margin: 400px 0 20px 20px;
    font-size: 1.41rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: #fff;
}
main section .category1 .category1_contents .text .text1 span {
    font-size: 0.9rem;
}
main section .category1 .category1_contents .text .text2 em {
    margin: 400px 0 20px 20px;
    font-size: 1.41rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: #fff;
}
main section .category1 .category1_contents .text .text2 span {
    font-size: 0.9rem;
}
main section .category1 .category1_contents .text .text3 em {
    margin: 400px 0 20px 20px;
    font-size: 1.41rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: #fff;
}
main section .category1 .category1_contents .text .text3 span {
    font-size: 0.9rem;
}
main section .category1 .category1_contents .text .text4 em {
    margin: 400px 0 20px 20px;
    font-size: 1.41rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: #fff;
}
main section .category1 .category1_contents .text .text4 span {
    font-size: 0.9rem;
}
main section .category2 {
    width:clac(100% - 30px);
}
main section .category2 h2 {
    font-size: 2.82rem;
}
main section .category2 .category2_contents {
    
}
main section .category2 .category2_contents .contents01 {
    width:calc(50% - 15px); height:30vh;
    margin-right: 10px;
}
main section .category2 .category2_contents .contents01 span {
    font-size: 1.99rem;
    padding: 200px 0 0 30px;
}
main section .category2 .category2_contents .contents02 {
    width:calc(50% - 15px); height:30vh;
    
}
main section .category2 .category2_contents .contents02 span {
    font-size: 1.99rem;
    padding: 200px 0 0 30px;
}
main section .category2 .category2_contents .contents03 {
    width:calc(50% - 15px); height:30vh;
    margin-right: 10px;
}
main section .category2 .category2_contents .contents03 span {
    font-size: 1.99rem;
    padding: 200px 0 0 30px;
}
main section .category2 .category2_contents .contents04 {
    width:calc(50% - 15px); height:30vh;
    margin-right: 0px;
}
main section .category2 .category2_contents .contents04 span {
    font-size: 1.99rem;
    padding: 200px 0 0 30px;
}
main section .category3 .category3_contents .product h2 {
    font-size: 1.99rem;
}
main section .category3 .category3_contents .product {
    width: 100%; height:65vh;
}
main section .category4 {
    height:80vh;
}
main section .category4 .notice {
    width: 50%; height:80vh;
}
main section .category4 .event {
    width: 50%; height:80vh;
}
main section .category4 .notice .notice_contents ul li a {
    height:12vh;
}
main section .category4 .notice .notice_contents ul li a p {
    font-size: 1rem;
    margin-bottom: 15px;
}
main section .category4 .notice .notice_contents ul li a span {
    font-size: 0.85rem;
    margin-bottom: 15px;
}
main section .category4 .notice .notice_contents ul li a .notice_line {
    margin-bottom: 10px;
}
main section .category4 .event .event_contents ul li a img {
    height:14vh;
}
main section .category5 .ir h3 {
    margin-left: 20px;
}

main section .category5 .ir .price .ir_price p {
    width:85%; height:80px;
    font-size: 1.99rem; margin-left: 20px;
}
main section .category5 .ir .price .ir_price .minus {
    width: 85%; height:30px;
    font-size: 1.41rem; margin-left: 20px;
}
main section .category5 .ir .price .sub_price {
    width: 48%; margin-right: 20px;
    
}
main section .category5 .ir .price .sub_price ul li span {
    font-size: 0.9rem;
}
main section .category5 .ir .price .sub_price ul li em {
    width: 50%; font-size: 0.8rem;
    text-align: end;
    padding-right: 10px;
}
main section .category5 .ir .ir_navi {
    margin-left: 20px;
}
main section .category5 .recruit h3 {
    margin-left: 20px;
}
main section .category5 .recruit p {
    font-size: 1.41rem; margin-left: 20px;
} 
main section .category5 .recruit span {
    font-size: 1.41rem; margin-left: 20px;
}
main section .category5 .recruit .ir_navi {
    margin: 70px 0 0 5px;
}
main section .category5 .recruit .ir_navi a span {
    font-size: 1rem;
}
footer .fnb ul {
    padding: 50px 0 50px 30px;
}
footer .fnb ul li {
    margin-right: 20px;
}
footer .fnb .under_line {
    width: calc(100% - 60px);
}
footer .footer_btm address {
    margin-left: 30px;
}
footer .footer_btm .relation {
    margin-right: 30px;
}
footer .footer_btm .relation ul .sns .sns_btn img {
    margin-left: 20px; 
}
footer .footer_btm .relation ul .family .family_btn img {
    margin-left: 20px; 
}
}
/* 1100 end */

@media screen and (max-width:725px){
    header .header_wrap h1 {
        margin: 10px 0 10px 10px;
    }
    header .header_wrap h1 a {}
    header .header_wrap h1 a img {width: 75%;}
    header .header_wrap .nav #nav_btn {
        width: 25px; height:25px;
    }
    header .header_wrap .nav .menu_line01 {
        width: 10px;
        text-align: center;
        margin-left: 0.6px;
    }
    header .header_wrap .nav .menu_line02 {
        display: block;
        width: 10px;
        border: 1px solid#fff;
        margin-top: 5px;
        text-align: center;
        margin-left: 0.6px;
    }
    header .header_wrap .language {
        margin-right: 15px;
    }
    header .header_wrap .language label img {
        margin-left: 15px;
    }
    /* header .header_wrap .language #check_btn:checked ~ .menubars {
        display: block;
        position: absolute;
        width: 40px;
        background-color: #fd790d;
        text-align: center;
        margin-top: 5px;
        margin-left: 30px;
        border-radius: 10px;
        transition: all 1s;
    } */
    header .header_wrap .language .menubars li {
        margin-top: 1px;
        margin-bottom: 5px;
        transition: all 1s;
    }
    header .header_wrap .language label img {
        width: 20px; height:20px;
    }
    header .header_wrap .language label img:last-child {
        margin-top: 0px;
    }
    header .header_wrap .nav #sub {
        background: url(../images/bg_sub.jpg) no-repeat center;
        background-size: cover;
        position: absolute;
        left:0; top:0;
        width: 100%;
        transform: translateY(-100%);
        transition: 0.5s all;
        
    }

    header .header_wrap .nav #sub .sub_contents ul .sub_contents_title {
        width: 100%;
        margin: 0 auto;
        padding-top: 10px;
        display: flex; flex-flow:column wrap; 
        
        transition: all 0.5s;
    }
    header .header_wrap .nav #sub .sub_contents ul .sub_contents_title > a {
        font-size: 1.41rem;
        
    }
    header .header_wrap .nav #sub .sub_contents ul {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        
        
    }

    header .header_wrap .nav #sub .sub_contents ul .sub_contents_title .text_list.active {
        display: block;
        
    }
    header .header_wrap .nav #sub .sub_contents ul .sub_contents_title .text_list {
        width: 100%;
        position: relative;
        left:0; top:0;
        background-color: #1450A3;
        
        display: inline-block;
        display: none;
    }
    header .header_wrap .nav #sub .sub_contents ul .sub_contents_title .text_list .sub_contents_text a {
        color: #fff; letter-spacing: -0.02rem;
        display: block; font-size: 1rem;
        padding-bottom: 20px; 
        transition: all 0.5s;
    }
    header .header_wrap .nav #sub .sub_contents2 {
        
    }
    header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 {
        width: 100%; margin: 0 auto;
        margin-bottom: 40px;
        transition: all 0.5s;
    }
    header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 > a {
        font-size: 1.41rem; color: #fff; letter-spacing: -0.02rem;
        margin: 0 auto;
        text-align: center;
        display: block; margin: 20px 0 0px 0;
        transition: all 0.5s;
    }
    header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 ul.active {
        display:flex;
    }
    header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 ul {
        display: flex;
        flex-flow: column wrap;
        justify-content:center;
        align-items: center;
        transition: all 0.5s;
        background-color: #1450A3;;
        display: none;
    }
    header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 ul li {
        text-align: center;
        margin: 0 auto;
        width: 120px; 
        padding-top: 10px;
        transition: all 0.5s;
    }
    header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 ul li a {
        width: 100%; font-size: 1rem;
        display: block; color:#FFF;
        transition: all 0.5s;
        padding-bottom: 20px;
    }
    header .header_wrap .nav #sub .sub_recruit {
        width: 250px; height: 50px;
        position: relative;
        
        margin: 0 auto;
        
        background-color: #fd790d;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 20px;
        
    }
    header .header_wrap .nav #sub .sub_recruit a:hover span {
        color:#000;
    }
    header .header_wrap .nav #sub .sub_recruit a {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        padding-top: 12px;
        padding-left: 15px;
        
    }
    header .header_wrap .nav #sub .sub_recruit a span {
        font-size: 1.41rem;
    }
    header .header_wrap .nav #sub .sub_recruit a span img {
        margin-left: 12px;
    }
    main section .main_page #video01 {width:100%; height:auto;}
    main section .main_page #video02 {width:100%; height:auto;}
    main section .main_page .main_text {
        width:100%;
        position: absolute; top:15%;
        text-align: center;
    }
    main section .main_page .main_text h2 {
        font-size: 1.41rem;
        font-weight: 500; color:#fff;
        letter-spacing: -0.02rem;
    }
    main section .main_page .main_text p {
        font-size: 0.7rem;
        margin-top: 10px;
    }
    main section .main_page .scroll {
        width:100%;
        position: absolute; top:9%;
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        z-index: 100;
        overflow: hidden;
    }
    main section .main_page .scroll span {
        margin-bottom: 15px;
        font-size: 0.7rem;
    }
    main section .main_page .scroll img {
        width: 10px; height:10px;
    }
    main section .main_page .play_wrap {
        width:100%;
        position: absolute; 
        bottom:75%;
        z-index: 100;
    }
    main section .main_page .play_wrap ul {
        
        margin-right: 5px;
    
    }
    main section .main_page .play_wrap ul li .play img {
        width: 15px; height:15px;
    }
    main section .main_page .play_wrap ul li .pause img {
        width: 15px; height:15px;
    }
    main section .main_page .play_wrap ul li .play_bar02 span {
        font-size: 0.7rem;
    }
    main section .main_page .play_wrap ul li .play_bar01 span {
        font-size: 0.70rem;
    }
    main section .main_page .play_wrap ul li .play_bar01 .bar {
        width: 60px;
        border: 2px solid#fff;
        display: block;
        margin-top: 5px;
    }
    main section .main_page .play_wrap ul li .play_bar02 .bar {
        width: 60px;
        border: 2px solid#fff;
        display: block;
        margin-top: 5px;
    }
    
    main section .category1 {
        width:calc(100% - 30px);
    }
    main section .category1 h2 {
        font-size: 1.99rem;
        margin: 50px 0 30px 0;
    }
    
    main section .category1 .category1_contents .text {
    
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between; align-items: center;
        width: 100%;
        overflow: hidden;
    }
    main section .category1 .category1_contents .text .text1 {

        width: 50%; height: 35vh;
        overflow: hidden;
    }
    main section .category1 .category1_contents .text .text1:hover {
        overflow: hidden;
        transform: scale(1.1);
        transform-origin: bottom center;
        transition: transform 0.6s;
        width: calc(50% - 15px);
    }
    main section .category1 .category1_contents .text .text1 em {
        margin: 230px 0 10px 15px;
        font-size: 1.41rem;
        font-weight: 700;
        letter-spacing: -0.02rem;
        color: #fff;
        overflow: hidden;
    }
    main section .category1 .category1_contents .text .text1 span {
        margin: 0px 0 10px 15px;
    }
    main section .category1 .category1_contents .text .text1 img {
        margin-left: 15px;
        overflow: hidden;
    }
    main section .category1 .category1_contents .text .text2 {

        width: 50%; height: 35vh;
        overflow: hidden;
    }
    main section .category1 .category1_contents .text .text2:hover {
        overflow: hidden;
        transform: scale(1.1);
        transform-origin: bottom center;
        transition: transform 0.6s;
        width: calc(50% - 15px);
    }
    main section .category1 .category1_contents .text .text2 em {
        margin: 230px 0 10px 15px;
        font-size: 1.41rem;
        font-weight: 700;
        letter-spacing: -0.02rem;
        color: #fff;
        overflow: hidden;
        
    }
    main section .category1 .category1_contents .text .text2 span {
        margin: 0px 0 10px 15px;
        overflow: hidden;
    }
    main section .category1 .category1_contents .text .text2 img {
        margin-left: 15px;
        overflow: hidden;
    }
    main section .category1 .category1_contents .text .text3 {

        width: 50%; height: 35vh;
        overflow: hidden;
    }
    main section .category1 .category1_contents .text .text3:hover {
        overflow: hidden;
        transform: scale(1.1);
        transform-origin: bottom center;
        transition: transform 0.6s;
        width: calc(50% - 15px);
    }
    main section .category1 .category1_contents .text .text3 em {
        margin: 230px 0 10px 15px;
        font-size: 1.41rem;
        font-weight: 700;
        letter-spacing: -0.02rem;
        color: #fff;
        overflow: hidden;
    }
    main section .category1 .category1_contents .text .text3 span {
        margin: 0px 0 10px 15px;
        overflow: hidden;
    }
    main section .category1 .category1_contents .text .text3 img {
        margin-left: 15px;
        overflow: hidden;
    }
    main section .category1 .category1_contents .text .text4 {

        width: 50%; height: 35vh;
        overflow: hidden;
        
    }
    main section .category1 .category1_contents .text .text4:hover {
        overflow: hidden;
        transform: scale(1.1);
        transform-origin: bottom center;
        transition: transform 0.6s;
        width: calc(50% - 15px);
        
        
    }
    main section .category1 .category1_contents .text .text4 em {
        margin: 230px 0 10px 15px;
        font-size: 1.41rem;
        font-weight: 700;
        letter-spacing: -0.02rem;
        color: #fff;
        
    }
    main section .category1 .category1_contents .text .text4 span {
        margin: 0px 0 10px 15px;
    }
    main section .category1 .category1_contents .text .text4 img {
        margin-left: 15px;
    }
    main section .category2 h2 {
        font-size: 1.99rem;
    }
    main section .category2 .category2_contents .contents01 {
        width:calc(100% - 30px); height:20vh;
        margin-right: 0;
}
    main section .category2 .category2_contents .contents01 span {
    font-size: 1.99rem;
    padding: 120px 0 0 20px;
}
    main section .category2 .category2_contents .contents02 {
        width:calc(100% - 30px); height:20vh;
        margin-right: 0; margin-top: 10px;
}
    main section .category2 .category2_contents .contents02 span {
    font-size: 1.99rem;
    padding: 120px 0 0 20px;
}
    main section .category2 .category2_contents .contents03 {
        width:calc(100% - 30px); height:20vh;
        margin-right: 0; margin-top: 10px;
}
    main section .category2 .category2_contents .contents03 span {
    font-size: 1.99rem;
    padding: 120px 0 0 20px;
}
    main section .category2 .category2_contents .contents04 {
        width:calc(100% - 30px); height:20vh;
        margin-right: 0; margin-top: 10px;
}
    main section .category2 .category2_contents .contents04 span {
    font-size: 1.99rem;
    padding: 120px 0 0 20px;
}

main section .category3 .category3_contents .product h2 {
    font-size: 1.41rem;
    padding: 50px 0 10px 10px;
}
main section .category3 .category3_contents .product span {
    font-size: 1rem;
    margin: 10px 0 30px 10px;
}
main section .category3 .category3_contents .product {
    width: 100%; height:50vh;
}
main section .category3 .category3_contents .product a {
    margin-left: 0px;
}
main section .category3 .category3_contents .product a .line {
    margin: 10px 0 50px 10px;
}
main section .category3 .category3_contents .product #product_slide .swiper-wrapper .slide1 img {
    width:70%; height:70%;
}
main section .category3 .category3_contents .product #product_slide .swiper-wrapper .slide2 img {
    width:40%; height:60%;
}
main section .category3 .category3_contents .product #product_slide .swiper-wrapper .slide3 img {
    width:70%; height:70%;
}
main section .category3 .category3_contents .product #product_slide .swiper-wrapper .slide4 img {
    width:70%; height:70%;
}

main section .category4 {
    width: calc(100% - 30px); height:160vh;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 30px;
    margin-right: 0;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 100px;
}
main section .category4 .notice {
    width: 100%; height:70vh;
    background: #FDF7F7;
    padding: 40px 25px 0 15px;
    margin-right: 20px; 
}
main section .category4 .notice .notice_top h3 {
    margin-top: 0px;
    font-size: 1.44rem;
}
main section .category4 .notice .notice_top h3 > a {
    font-size: 1.44rem;
    margin-top: 0;
}
main section .category4 .notice .notice_top > a {
    margin-top: 0px;
}
main section .category4 .event {
    width: 100%; height:70vh;
    background: #FDF7F7;
    padding: 40px 25px 0 15px;
    margin-right: 20px; margin-top: 30px;
}
main section .category5 {
    width:calc(100% - 30px);
    display: flex; flex-flow: column nowrap; 
    justify-content: space-between;
    align-items: center;
}
main section .category5 .ir {
    width:100%; height:50vh;
}
main section .category5 .ir h3 {
    font-size: 1.99rem; font-weight: 700;
    color:#fff;
    margin: 30px 0 100px 20px;
}
main section .category5 .ir .price .ir_price {
    
}
main section .category5 .recruit {
    width:100%; height:50vh;
    margin-top: 10px;
}
main section .category5 .recruit h3 {
    font-size: 1.99rem; font-weight: 700;
    color:#fff;
    margin: 30px 0 100px 20px;
}
main section .category5 .recruit p {
    font-size: 1.2rem;
}
main section .category5 .recruit span {
    font-size: 1.2rem;
}
main section .category5 .recruit .ir_navi {
    margin: 150px 0 0 5px;
}
main section .category1 .snb ul li {
    margin-top: 10px;
    padding-bottom: 5px;
    padding:5px 5px;
    
    
}
main section .category1 .snb ul li a > img {
    width: 40%;
}
main section .category1 .snb ul li .up_btn img {
    width: 50%;
}
main section .category1 .snb ul li .down_btn img {
    width: 50%;
}
main section .category1 .snb ul li a span {
    font-size: 0.5rem;
    display: none;
}

footer .fnb ul {
    display: flex; flex-flow: row nowrap;
    align-items: center; justify-content: space-between;
    margin-right: 15px;
    padding: 20px 0 20px 10px;
}

footer .fnb ul li {
    margin-right: 2px;
}
footer .fnb ul li a span {
    font-size: 0.75rem;
}
footer .fnb ul li a h2 {
    margin-right: 0;
}
footer .fnb ul li a h2 img {
    width: 75%;
}
footer .fnb .under_line {
    width: calc(100% - 30px);
}
footer .footer_btm {
    
    display: flex; flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
footer .footer_btm address span {
    font-size: 0.5rem;
}
footer .footer_btm address p {
    font-size: 0.5rem;
}
footer .footer_btm address {
    color:#fff; letter-spacing: -0.02rem;
    margin: 25px 10px 25px 15px; line-height: 20px;
}
footer .footer_btm .relation {
    margin: 25px 15px 25px 15px;
}
footer .footer_btm .relation ul .sns .sns_btn {
    font-size: 0.75rem;
}
footer .footer_btm .relation ul .family .family_btn {
    font-size: 0.75rem;
}
}
/* 725 end */

@media screen and (max-width:400px){
    main section .main_page .main_text {
        width:100%;
        position: absolute; top:10%;
        text-align: center;
    }
    main section .main_page .scroll {
        position: absolute; top:1%;
    }
    main section .main_page .play_wrap {
        bottom:77%;
    }
    footer .fnb > ul > li > a > span {
        font-size: 0.5rem;
        margin-left: 0;
    }
}

@media screen and (max-width:360px){
    header .header_wrap h1 a img {width: 50%;}
    main section .main_page .scroll {
        top:-4%;
    }
    header .header_wrap .nav {
        padding-right: 50px;
    }
    main section .main_page .play_wrap {
        top:19%; right: -10%;
    }
    main section .main_page .main_text {
        text-align: center;
    }
    main section .category1 .category1_contents .text .text1 em {
        margin: 150px 0 10px 15px;
    }
    main section .category1 .category1_contents .text .text2 em {
        margin: 150px 0 10px 15px;
    }
    main section .category1 .category1_contents .text .text3 em {
        margin: 150px 0 10px 15px;
    }
    main section .category1 .category1_contents .text .text4 em {
        margin: 150px 0 10px 15px;
    }
    main section .category2 .category2_contents .contents01 span {
        font-size: 1.41rem;
        
    }
    main section .category2 .category2_contents .contents02 span {
        font-size: 1.41rem;
        
    }
    main section .category2 .category2_contents .contents03 span {
        font-size: 1.41rem;
        
    }
    main section .category2 .category2_contents .contents04 span {
        font-size: 1.41rem;
        
    }
    main section .category4 {
        height: 180vh;
    }
    main section .category4 .notice {
        height: 80vh;
    }
    main section .category4 .event {
        height: 80vh;
    }
    main section .category4 .notice .notice_contents ul li a {
        height:15vh;
    }
    main section .category5 .ir {
    height:60vh;
    }
    main section .category5 .recruit {
    height:60vh;
    }
}