html {
    scroll-behavior: smooth;
}
/* header */
header {
    width:100%; 
    margin: 0 auto; left:0; top:0;
    
    z-index: 200;
    position: fixed;
}
header .header_wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .header_wrap h1 {
    margin: 25px 0 25px 30px;
}
header .header_wrap h1 a {}
header .header_wrap h1 a img {width: 100%;}
header .header_wrap .nav {
    
}
header .header_wrap .nav #nav_btn {
    width: 50px; height:50px;
    border: 2px solid#fff;
    border-radius: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s all;
}
header .header_wrap .nav #nav_btn:hover {
    background-color: #fd790d;
    transition: 0.5s all;
} 
header .header_wrap .nav #nav_btn:active {
    transform: scale(0.95);
    background-color: #fd790d;
    transition: 0.1s all;
    
}
header .header_wrap .nav .menu_line01 {
    
    display: block;
    width: 20px;
    border: 1px solid#fff;
    
}
header .header_wrap .nav .menu_line02 {
    display: block;
    width: 20px;
    border: 1px solid#fff;
    margin-top: 10px;
}

/* header - sub */
header .header_wrap .nav #sub {
    background: url(../images/bg_sub.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    left:0; top:0;
    width: 100%; height:100vh;
    transform: translateY(-100%);
    transition: 0.5s all;
    overflow-y: auto;
}

header .header_wrap .nav #sub .sub_top {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}
header .header_wrap .nav #sub .sub_top .sub_top_left {
    
}
header .header_wrap .nav #sub .sub_top .sub_top_left h1 {}
header .header_wrap .nav #sub .sub_top .sub_top_left h1 a {}
header .header_wrap .nav #sub .sub_top .sub_top_left h1 a img {width: 100%;}
header .header_wrap .nav #sub .sub_top .sub_top_right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .header_wrap .nav #sub .sub_top .sub_top_right a {
    margin-left: 20px;
}
header .header_wrap .nav #sub .sub_top .sub_top_right a img {}
header .header_wrap .nav #sub .sub_top .sub_top_right #close {}
header .header_wrap .nav #sub .sub_top .sub_top_right #close img {}
header .header_wrap .nav #sub .sub_contents {}
header .header_wrap .nav #sub .sub_contents > ul {
    display: flex;
    flex-flow: row nowrap;
    
    
    
}
header .header_wrap .nav #sub .sub_contents ul .sub_contents_title {
    margin: 60px 50px 90px 144px;
    transition: all 0.5s;
    
}
header .header_wrap .nav #sub .sub_contents ul .sub_contents_title > a:after {
    display:block;
    content: '';
    border-bottom: solid 3px #fff;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    padding-bottom: 10px;
    transform-origin:  0% 50%;
}
header .header_wrap .nav #sub .sub_contents ul .sub_contents_title > a:hover:after {
    transform: scaleX(1);
}
header .header_wrap .nav #sub .sub_contents ul .sub_contents_title > a {
    font-size: 1.41rem; color: #fff; letter-spacing: -0.02rem;
    display: block; margin-bottom: 20px;
    transition: all 0.5s;
    
}
header .header_wrap .nav #sub .sub_contents ul .sub_contents_title .text_list {
    
}
header .header_wrap .nav #sub .sub_contents ul .sub_contents_title .text_list .sub_contents_text {
    
    
    
}
header .header_wrap .nav #sub .sub_contents ul .sub_contents_title .text_list .sub_contents_text a:hover {
    color: #fd790d;
}
header .header_wrap .nav #sub .sub_contents ul .sub_contents_title .text_list .sub_contents_text a {
    color: #fff; letter-spacing: -0.02rem;
    display: block; 
    margin-top: 10px;
    transition: all 0.5s;
}
header .header_wrap .nav #sub .sub_contents2 {
    
}
header .header_wrap .nav #sub .sub_contents2 ul {transition: all 0.5s;}
header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 {
    margin-bottom: 80px;
    transition: all 0.5s;
}
header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 > a:hover:after {
    transform: scaleX(1);
    transition: all 0.5s;
}
header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 > a:after {
    display:block;
    content: '';
    border-bottom: solid 3px #fff;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    padding-bottom: 10px;
    transform-origin:  0% 50%;
    transition: all 0.5s;
}
header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 > a {
    font-size: 1.41rem; color: #fff; letter-spacing: -0.02rem;
    margin-left: 144px;
    display: inline-block; margin-bottom: 20px;
    transition: all 0.5s;
}
header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 ul {
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-items: center;
    transition: all 0.5s;
}
header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 ul li {
    margin: 0 50px 0 144px;
    width: 120px;
    padding-top: 10px;
    transition: all 0.5s;
}
header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 ul li a:hover {
    color: #fd790d;
}
header .header_wrap .nav #sub .sub_contents2 ul .sub_contents_title2 ul li a {
    width: 100%;
    display: block; color:#FFF;
    transition: all 0.5s;
}
header .header_wrap .nav #sub .sub_recruit {
    width: 195px; height: 40px;
    position: absolute; 
    right:20px; bottom:10px;
    /* border: 1px solid#fff; */
    background-color: #000;
    margin-bottom: 20px;
}
header .header_wrap .nav #sub .sub_recruit a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
header .header_wrap .nav #sub .sub_recruit a span:hover {
    color:#fd790d;
    transition: all 0.5s;
}
header .header_wrap .nav #sub .sub_recruit a span {
    color: #fff;
    display: block;
    margin-left: 10px;
    transition: all 0.5s;
}
header .header_wrap .nav #sub .sub_recruit a span img {
    margin-left: 30px;
}
header .header_wrap .nav #sub .sub_recruit a span img:last-child {}

header .header_wrap .language {
    margin-right: 50px;
}
header .header_wrap .language #check_btn {display: none;}
header .header_wrap .language #check_btn
header .header_wrap .language #check_btn .label {}

header .header_wrap .language #check_btn .label {display: block;}
header .header_wrap .language #check_btn .label img {}
header .header_wrap .language .menubars {display: none;} 
header .header_wrap .language #check_btn:checked ~ .menubars {
    display: block;
    position: absolute;
    width: 80px;
    background-color: #fd790d;
    text-align: center;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 10px;
    transition: all 1s;
}
header .header_wrap .language label img {
    margin-left: 25px;
}
        

header .header_wrap .language label img:last-child {
    margin-bottom: 5px;
}


header .header_wrap .language .menubars {}



header .header_wrap .language .menubars li {
    margin-top: 5px;
    margin-bottom: 10px;
    transition: all 1s;
}

header .header_wrap .language .menubars li a {
    font-size: 0.71rem;
    color: #fff;
    transition: all 1s;
}
header .header_wrap .language .menubars li a:hover {
    color:#000
}

/* main-page */
main {}
main section {
    
}
main section .main_page {
    
}
main section .main_page .main_text {
    width:100%;
    position: absolute; top:50%;
    text-align: center;
    z-index: 100;
    overflow: hidden;
}
main section .main_page .main_text h2 {
    font-size: 3.99rem;
    font-weight: 600; color:#fff;
    letter-spacing: -0.02rem;
    overflow: hidden;
}
main section .main_page .main_text p {
    font-size: 1.99rem;
    color:#fff;
    letter-spacing: -0.02rem;
    margin-top: 20px;
    overflow: hidden;
}
main section .main_page .scroll {
    width:100%;
    position: absolute; bottom:0%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}
main section .main_page .scroll span {
    margin-bottom: 20px;
    color:#fff;
}
main section .main_page .scroll img {
    margin-top: 40px;
    animation:arrow_move 1s linear alternate infinite;

}
main section .main_page .play_wrap {
    width:100%;
    position: absolute; bottom:10%;
    z-index: 100;
}
main section .main_page .play_wrap ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;

}
main section .main_page .play_wrap ul li {
    margin-right: 10px;
}
main section .main_page .play_wrap ul li .play {
    transition: all 0.2s linear;
}
main section .main_page .play_wrap ul li .play img {
    transition: all 0.2s linear;
}
main section .main_page .play_wrap ul li .play:hover img {
    transform: scale(1.2);
}
main section .main_page .play_wrap ul li .pause {
    transition: all 0.2s linear;
}
main section .main_page .play_wrap ul li .pause img {
    transition: all 0.2s linear;
}
main section .main_page .play_wrap ul li .pause:hover img {
    transform: scale(1.1);
}
main section .main_page .play_wrap ul li .play_bar01 {}
main section .main_page .play_wrap ul li .play_bar01:hover {
    
}
main section .main_page .play_wrap ul li .play_bar01 span {
    display: block; color:#fff;
    transition: all 0.2s linear;
}
main section .main_page .play_wrap ul li .play_bar01 span:hover {
    transform: scale(1.05);
    color:#fd790d;
}
main section .main_page .play_wrap ul li .play_bar02 span:hover {
    transform: scale(1.05);
    color:#fd790d;
}
main section .main_page .play_wrap ul li .play_bar01 .bar {
    width: 150px;
    border: 3px solid#fff;
    display: block;
    margin-top: 10px;
}
main section .main_page .play_wrap ul li .play_bar02 {}
main section .play_wrap ul li .play_bar02 span {
    display: block; color:#fff;
    transition: all 0.2s linear;
}
main section .main_page .play_wrap ul li .play_bar02 .bar {
    width: 150px;
    border: 3px solid#fff;
    display: block;
    margin-top: 10px;
}
main section .main_page #video01 {
    width:100%; height:auto;
    position: relative;
    top: 0;
    z-index: 10;
    overflow: hidden;
}
main section .main_page #video02 {
    width:100%; height:auto;
    position: relative;
    top: 0;
    z-index: 10;
    overflow: hidden;
}

/* category1 */
main section .category1 {
    overflow: hidden;
    width:calc(100% - 60px);
    margin: 0 auto;
    
}
main section .category1 h2 {
    text-align: center;
    font-size: 3.43rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    margin: 100px 0 55px 0;
}
main section .category1 .category1_contents {}
main section .category1 .category1_contents .text {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
    width: 100%;
    overflow: hidden;
}
main section .category1 .category1_contents .text .text1 {

    width: 25%; height: 60vh;
    background: url(../images/etc_drug_2x.png) no-repeat center;
    background-size: cover;
    display: block;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    transition: all 0.6s ease;
}
main section .category1 .category1_contents .text .text1:hover {
    overflow: hidden;
    transform: scale(1.10);
    transform-origin: center left;
    transition: transform 0.6s;
    width: 30%;
    
}
main section .category1 .category1_contents .text .text1 em:hover {
    
}
main section .category1 .category1_contents .text .text1 em {
    margin: 350px 0 25px 25px;
    font-size: 2.87rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: #fff;
    
}
main section .category1 .category1_contents .text .text1 span {
    margin: 0px 0 25px 25px;
    font-size: 1.41rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: #fff;
}
main section .category1 .category1_contents .text .text1 img {
    margin-left: 25px;
    
}
main section .category1 .category1_contents .text .text2 {
    width: 25%; height: 60vh;
    background: url(../images/otc_drug.jpg) no-repeat center;
    background-size: cover;
    display: block;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    transition: all 0.6s ease;
}
main section .category1 .category1_contents .text .text2:hover {
    overflow: hidden;
    transform: scale(1.1);
    transform-origin: bottom center;
    transition: transform 0.6s;
}

main section .category1 .category1_contents .text .text2 em {
    margin: 350px 0 25px 25px;
    font-size: 2.87rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: #fff;
}
main section .category1 .category1_contents .text .text2 span {
    margin: 0px 0 25px 25px;
    font-size: 1.41rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: #fff;
}
main section .category1 .category1_contents .text .text2 img {
    margin-left: 25px;
}
main section .category1 .category1_contents .text .text3 {
    width: 25%; height: 60vh;
    background: url(../images/quasi_2x.png) no-repeat center;
    background-size: cover;
    display: block;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    transition: all 0.6s ease;
}
main section .category1 .category1_contents .text .text3:hover {
    overflow: hidden;
    transform: scale(1.1);
    transform-origin: bottom center;
    transition: transform 0.6s;

}
main section .category1 .category1_contents .text .text3 em {
    margin: 350px 0 25px 25px;
    font-size: 2.87rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: #fff;
}
main section .category1 .category1_contents .text .text3 span {
    margin: 0px 0 25px 25px;
    font-size: 1.41rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: #fff;
}
main section .category1 .category1_contents .text .text3 img {
    margin-left: 25px;
}
main section .category1 .category1_contents .text .text4 {
    width: 25%; height: 60vh;
    background: url(../images/health_2x.png) no-repeat center;
    background-size: cover;
    display: block;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    transition: all 0.6s ease;
}
main section .category1 .category1_contents .text .text4:hover {
    overflow: hidden;
    transform: scale(1.10);
    transform-origin: center right;
    transition: transform 0.6s;
    width: 30%;
    
}
main section .category1 .category1_contents .text .text4 em {
    margin: 350px 0 25px 25px;
    font-size: 2.87rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: #fff;
}
main section .category1 .category1_contents .text .text4 span {
    margin: 0px 0 25px 25px;
    font-size: 1.41rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: #fff;
}
main section .category1 .category1_contents .text .text4 img {
    margin-left: 25px;
}

/* aside - snb */
main section .category1 .snb {
    display: none;
    
}

main section .category1 .snb ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color:#fff;
    border: 1px solid#000;
    border-radius: 10px;
    position: absolute;
    right:0; bottom:20%;
    z-index: 200;
    position: fixed;
    transition: all 1s;
}
main section .category1 .snb ul li {
    margin-top: 20px;
    padding-bottom: 10px;
    padding:10px 10px;
}
main section .category1 .snb ul li:last-child {
    margin-top: 0;
    padding-top: 0;
}
main section .category1 .snb ul li a:hover {
    color:#fd790d; font-weight: 700;
    transition: all 0.5s;
}
main section .category1 .snb ul li > a:hover img {
    transform: scale(1.1);
    transition: all 0.5s;
}
main section .category1 .snb ul li a {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    transition: all 0.5s;
    
}
main section .category1 .snb ul li a img {
    width: 50%;
    transition: all 0.5s;}
main section .category1 .snb ul li a span {
    font-size: 0.65rem; font-weight: 700;
    letter-spacing: -0.02rem;
    padding-top: 10px;
}

main section .category1 .snb ul li .up_btn {}
main section .category1 .snb ul li .up_btn img {
    
}
main section .category1 .snb ul li .down_btn {}
main section .category1 .snb ul li .down_btn img {
    margin-bottom: 20px;
}

/* category2 */
main section .category2 {
    width:clac(100% - 60px);
    margin: 0 auto;
    
}
main section .category2 h2 {
    text-align: center;
    font-size: 3.43rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    margin: 100px 0 55px 0;
}
main section .category2 .category2_contents {
    width:100%;
    margin: 0 auto;
    display: flex; flex-flow: row wrap;
    justify-content: center;
    overflow: hidden;
    
}
main section .category2 .category2_contents .contents01:hover {
    transform: scale(0.98);
    transition: transform 0.5s;
    overflow: hidden;
}
main section .category2 .category2_contents .contents01 {
    width:calc(50% - 30px) ; height:30vh;
    background: url(../images/safety.jpg) no-repeat center;
    background-size: cover;
    display: block; 
    overflow: hidden; margin-right: 20px;
    transition: all 0.5s ease;
}
main section .category2 .category2_contents .contents01 span {
    font-size: 2.82rem; font-weight: 700;
    letter-spacing: 700; color:#fff;
    display: block; 
    padding: 180px 0 0 50px;
    
}
main section .category2 .category2_contents .contents02:hover {
    transform: scale(0.98);
    transition: transform 0.5s;
    overflow: hidden;
}
main section .category2 .category2_contents .contents02 {
    width:calc(50% - 30px) ; height:30vh;
    background: url(../images/rnd.jpg) no-repeat center;
    background-size: cover;
    display: block;
    transition: all 0.5s ease;
}
main section .category2 .category2_contents .contents02 span {
    font-size: 2.82rem; font-weight: 700;
    letter-spacing: 700; color:#fff;
    display: block; 
    padding: 180px 0 0 50px;
}
main section .category2 .category2_contents .contents03:hover {
    transform: scale(0.98);
    transition: transform 0.5s;
    overflow: hidden;
}
main section .category2 .category2_contents .contents03 {
    width:calc(50% - 30px) ; height:30vh;
    background: url(../images/law.jpg) no-repeat center;
    background-size: cover;
    display: block; 
    margin: 20px 20px 0 0;
    transition: all 0.5s ease;
}
main section .category2 .category2_contents .contents03 span {
    font-size: 2.82rem; font-weight: 700;
    letter-spacing: 700; color:#fff;
    display: block;
    padding: 180px 0 0 50px;
}
main section .category2 .category2_contents .contents04:hover {
    transform: scale(0.98);
    transition: transform 0.5s;
    overflow: hidden;
}
main section .category2 .category2_contents .contents04 {
    width: calc(50% - 30px); height:30vh;
    background: url(../images/social.jpg) no-repeat center;
    background-size: cover;
    display: block; margin-top: 20px;
    transition: all 0.5s ease;
}
main section .category2 .category2_contents .contents04 span {
    font-size: 2.82rem; font-weight: 700;
    letter-spacing: 700; color:#fff;
    display: block; 
    padding: 180px 0 0 50px;
}

/* category3 */
main section .category3 {
    width:calc(100% - 60px);
    margin: 0 auto;

}
main section .category3 .category3_contents {
    width: 100%;
}
main section .category3 .category3_contents .product {
    width: 100%; height:90vh;
    
}
main section .category3 .category3_contents .product h2 {
    font-size: 2.82rem; font-weight: 700; letter-spacing: -0.02rem;
    padding: 50px 0 10px 85px;
}
main section .category3 .category3_contents .product > span {
    font-size: 1.41rem; font-weight: 600; letter-spacing: -0.02rem;
    margin: 10px 0 30px 85px;
    display: block;
}
main section .category3 .category3_contents .product a {
    margin-left: 85px;
}
main section .category3 .category3_contents .product a > span:hover {
    color:#fd790d;
    transition: all 0.5s;
}
main section .category3 .category3_contents .product a > span {
    color:#000; transition: all 0.5s;
}
main section .category3 .category3_contents .product a span img {
    margin-left: 17px;
    
}
main section .category3 .category3_contents .product a .line {
    width: 110px;
    border: 1px solid#333;
    display: block; margin: 10px 0 50px 85px;
}

/* swiper - slide */
main section .category3 .category3_contents .product #product_slide {
    text-align: center;
    
}
main section .category3 .category3_contents .product #product_slide .swiper-wrapper {
    
}
main section .category3 .category3_contents .product #product_slide .swiper-wrapper .swiper-slide {
    
}
main section .category3 .category3_contents .product #product_slide .swiper-wrapper .slide1 {
    
}
main section .category3 .category3_contents .product #product_slide .swiper-wrapper .slide1 img {
    width:50%; height:50%;
    background-position: center;
    background-size: cover;
    
}
main section .category3 .category3_contents .product #product_slide .swiper-wrapper .slide2 {}
main section .category3 .category3_contents .product #product_slide .swiper-wrapper .slide2 img{
    width:30%; height:50%;
    background-position: center;
    background-size: cover;
}
main section .category3 .category3_contents .product #product_slide .swiper-wrapper .slide3 {}
main section .category3 .category3_contents .product #product_slide .swiper-wrapper .slide3 img {
    width:50%; height:50%;
    background-position: center;
    background-size: cover;
}
main section .category3 .category3_contents .product #product_slide .swiper-wrapper .slide4 {}
main section .category3 .category3_contents .product #product_slide .swiper-wrapper .slide4 img {
    width:50%; height:50%;
    margin-bottom: 50px;
    background-position: center;
    background-size: cover;
}
main section .category3 .category3_contents .product #product_slide .swiper-scrollbar {
    display: none;
}
main section .category3 .category3_contents .product #product_slide .swiper-pagination {
    
}


/* category4 */
main section .category4 {
    width:calc(100% - 60px); height:95vh;
    margin: 0 auto;
    display: flex; margin-top: 30px;
    
}
main section .category4 .notice {
    width: 50%; height:95vh;
    background: #FDF7F7;
    padding: 95px 25px 0 25px;
    margin-right: 20px; 
}
main section .category4 .notice .notice_top {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
main section .category4 .notice .notice_top h3 {
    margin-bottom: 85px;
    
}
main section .category4 .notice .notice_top h3 a:hover {
    color:#fd790d;
    transition: all 0.5s;
}
main section .category4 .notice .notice_top h3 a {
    font-size: 1.99rem; font-weight: 600;
    letter-spacing: -0.02rem;
    transition: all 0.5s;
}
main section .category4 .notice .notice_top a:hover {
    color:#fd790d;
    transition: all 0.5s;
}
main section .category4 .notice .notice_top a {
    margin-bottom: 85px;
    transition: all 0.5s;
}
main section .category4 .notice .notice_top a span {
    font-weight: 500; letter-spacing: -0.02rem;

}
main section .category4 .notice .notice_top a span img {
    margin-left: 15px;
}
main section .category4 .notice .notice_top a .line {
    display: block; width: 110px;
    border: 1px solid#000;
    margin-top: 10px;
}
main section .category4 .notice .notice_contents {
    
}
main section .category4 .notice .notice_contents ul {}
main section .category4 .notice .notice_contents ul li {
    
}
main section .category4 .notice .notice_contents ul li a:hover {
    color: #fd790d;
    transform: scale(1.01);
    transition: all 0.5s;
}
main section .category4 .notice .notice_contents ul li a {
    height:17vh;
    display: flex; flex-flow: column nowrap;
    transition: all 0.5s;
    overflow: hidden;
}
main section .category4 .notice .notice_contents ul li a p {
    font-size: 1.41rem; font-weight: 600; letter-spacing: -0.02rem;
    margin-bottom: 20px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
main section .category4 .notice .notice_contents ul li a span {
    margin-bottom: 20px; letter-spacing: -0.02rem;
    display:block;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
main section .category4 .notice .notice_contents ul li a em {
    margin-bottom: 20px; font-size: 0.75rem; letter-spacing: -0.02rem;
}
main section .category4 .notice .notice_contents ul li a .notice_line {
    display: block;
    width: 870px; border: 1px dashed#aaa;
    margin-bottom: 40px;
}
main section .category4 .event {
    width: 50%; height:95vh;
    background: #FDF7F7;
    padding: 95px 25px 0 25px;
    
}
main section .category4 .event .event_top {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
main section .category4 .event .event_top h3 {
    margin-bottom: 85px;
}
main section .category4 .event .event_top h3 a:hover {
    color:#fd790d;
    transition: all 0.5s;
}
main section .category4 .event .event_top h3 a {
    font-size: 1.99rem; font-weight: 600;
    letter-spacing: -0.02rem;
    transition: all 0.5s;
}
main section .category4 .event .event_top a:hover {
    color:#fd790d;
    transition: all 0.5s;
}
main section .category4 .event .event_top a {
    margin-bottom: 85px;
    transition: all 0.5s;
}
main section .category4 .event .event_top a span {
    font-weight: 500; letter-spacing: -0.02rem;
}
main section .category4 .event .event_top a span img {
    margin-left: 15px;
}
main section .category4 .event .event_top a .line {
    display: block; width: 110px;
    border: 1px solid#000;
    margin-top: 10px;
}
main section .category4 .event .event_contents {
    width: 100%; height:95vh;
}
main section .category4 .event .event_contents ul {
    
}
main section .category4 .event .event_contents ul li {
    padding-bottom: 20px;
    overflow: hidden;
    
}
main section .category4 .event .event_contents ul li a {
    
}
main section .category4 .event .event_contents ul li a:hover img{
    transform: scale(0.95);
    transition: transform 0.5s;
    border-radius: 20px;
    overflow: hidden;
}
main section .category4 .event .event_contents ul li a img {
    background: no-repeat center;
    width: 100%; height:20vh;
    background-size: cover;
    transition: all 0.5s ease;
    border-radius: 25px;
}

/* category5 */
main section .category5 {
    width:calc(100% - 60px); height:70vh;
    margin: 0 auto;
    display: flex;
    
}
main section .category5 .ir {
    width: 50.9%; margin-right: 20px;
    
    background: url(../images/bg_ir.jpg) no-repeat center;
    background-size: cover;
}
main section .category5 .ir h3 {
    font-size: 2.827rem; font-weight: 700;
    color:#fff;
    margin: 115px 0 100px 50px;
}
main section .category5 .ir .price {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
main section .category5 .ir .price .ir_price {
    width: 65%;
}
main section .category5 .ir .price .ir_price p {
    width:80%; height:95px;
    background-color: #fff;
    font-size: 2.82rem; font-weight: 700;
    color:#F59348; line-height: 90px;
    text-align: end; letter-spacing: -0.02rem;
    padding-right: 10px;
    margin-left: 50px;
}
main section .category5 .ir .price .ir_price .minus {
    width: 80%; height:30px;
    background-color: #fff;
    margin: 20px 0 110px 50px;
    text-align: end;
    
}
main section .category5 .ir .price .ir_price .minus span:last-child {margin-right: 10px;}
main section .category5 .ir .price .ir_price .minus span {
    font-size: 1.41rem; font-weight: 700;
    letter-spacing: -0.02rem;
    color:#F59348; line-height: 29px;
    margin-right: 0px;
    
}
main section .category5 .ir .price .ir_price .minus img {
    margin-right: 10px;
    margin-left: 10px;
}
main section .category5 .ir .price .sub_price {
    width: 35%; margin-right: 70px;
}
main section .category5 .ir .price .sub_price ul {}
main section .category5 .ir .price .sub_price ul li {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
main section .category5 .ir .price .sub_price ul li span {
    width: 80%; background-color: #fff;
    margin-bottom: 10px; font-weight: 700;
    padding: 13px 0 13px 10px;
}
main section .category5 .ir .price .sub_price ul li em {
    width: 20%; background-color: #000;
    margin-bottom: 10px; font-weight: 700;
    padding: 13px 0 13px 10px;
    color: #fff;
}
main section .category5 .ir .ir_navi {
    margin-left: 50px;
}
main section .category5 .ir .ir_navi a:hover span {
    
}
main section .category5 .ir .ir_navi a {

}
main section .category5 .ir .ir_navi a span:hover {
    color:#fd790d;
}
main section .category5 .ir .ir_navi a span {
    font-weight: 700;
    color:#fff;
    padding: 10px 10px 10px 10px;
    background-color: #000;
    margin-right: 70px;
    transition: all 1s;

}
main section .category5 .ir .ir_navi a span img {
    margin-left: 60px;
}
main section .category5 .recruit {
    width: 50%;
    background: url(../images/recruit2.jpg) no-repeat center;
    background-size: cover;
}
main section .category5 .recruit h3 {
    font-size: 2.827rem; font-weight: 700;
    color:#fff; letter-spacing: -0.02rem;
    margin: 115px 0 180px 50px;
}
main section .category5 .recruit p {
    font-size: 1.99rem; letter-spacing: -0.02rem;
    margin-left: 50px; line-height: 45px;
    color:#fff;
}
main section .category5 .recruit > span {
    font-size: 1.99rem; letter-spacing: -0.02rem;
    margin-left: 50px; line-height: 45px;
    color:#fff;
}
main section .category5 .recruit .ir_navi {
    margin: 85px 0 0 50px;
}
main section .category5 .recruit .ir_navi a {}
main section .category5 .recruit .ir_navi a span:hover {
    color:#fd790d;
}
main section .category5 .recruit .ir_navi a span {
    font-weight: 700;
    color:#fff;
    padding: 10px 10px 10px 10px;
    background-color: #000;
    transition: all 1s;
}
main section .category5 .recruit .ir_navi a span img {
    margin-left: 60px;
}


/* footer */
footer {
    width: 100%;
    margin: 0 auto;
    background-color: #000;
    
}
footer .fnb {
    
}
footer .fnb ul {
    display: flex; flex-flow: row nowrap;
    align-items: center;
    padding: 50px 0 50px 70px;
}
footer .fnb ul li {
    margin-right: 50px;


}
footer .fnb ul li a {}
footer .fnb ul li a h2 {}
footer .fnb ul li a h2 img {}
footer .fnb ul li a span:hover {
    color:#fd790d;
    transition: all 1s;
}
footer .fnb ul li a span {
    color:#fff; font-weight: 600;
    letter-spacing: -0.02rem;
    margin-right: 5px;
    transition: all 1s;
}
footer .fnb ul li a span img {
    
}
footer .fnb .under_line {
    width: calc(100% - 140px);
    display: block;
    border: 1px solid#fff;
    margin: 0 auto;
}
footer .footer_btm {
    
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    
}
footer .footer_btm address {
    color:#fff; letter-spacing: -0.02rem;
    margin: 50px 0 50px 70px; line-height: 30px;
}
footer .footer_btm address p {

}
footer .footer_btm address p span {}
footer .footer_btm .relation {
    margin: 50px 70px 0 0;
}
footer .footer_btm .relation ul {
    display: flex; flex-flow: row nowrap;
    justify-content: flex-end;
    
}
footer .footer_btm .relation ul .sns {
    margin-right: 50px;
    
}
footer .footer_btm .relation ul .sns span {
    color:#fff;
    margin-bottom: 10px;
    display: block;
}

footer .footer_btm .relation ul .sns span img {
    margin-left: 30px; 
}
footer .footer_btm .relation ul .sns .txt_line {
    display: block;
    width: 140px; border: 1px solid#fff;
}
footer .footer_btm .relation ul .sns .sns_wrap.active { 
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
footer .footer_btm .relation ul .sns .sns_wrap {
    /* display: flex; flex-flow: row nowrap;
    justify-content: space-between; */
    display: none;
    position: relative;
    bottom:70px; 
}
footer .footer_btm .relation ul .sns .sns_wrap li {
    margin-right: 5px;
    
}
footer .footer_btm .relation ul .sns .sns_wrap li a {
    
    text-align: center;
    transition: all is;
    
    
}
footer .footer_btm .relation ul .sns .sns_wrap li a img {
    transition: all 0.5s;
}
footer .footer_btm .relation ul .sns .sns_wrap li a:hover img {
    transform: scale(1.2);
    transition: all 0.5s;
}


footer .footer_btm .relation ul .family {

}
footer .footer_btm .relation ul .family .family_btn {
    color:#fff;
    margin-bottom: 10px;
    display: block;
}
footer .footer_btm .relation ul .family .family_btn img {
    margin-left: 30px;
}
footer .footer_btm .relation ul .family .txt_line {
    display: block;
    width: 140px; border: 1px solid#fff;
}

footer .footer_btm .relation ul .family .family_wrap.active {
    display: flex; flex-flow: column wrap;
    justify-content: flex-start;
    background-color: #fd790d;
    position: relative;
    bottom:190px;
    border-radius: 10px;
}
footer .footer_btm .relation ul .family .family_wrap {
    display: flex; flex-flow: column wrap;
    justify-content: flex-start;
    display:none;
    
}
footer .footer_btm .relation ul .family .family_wrap li:last-child {
    padding-bottom: 10px;
}
footer .footer_btm .relation ul .family .family_wrap li {
    padding-top: 10px; 
    /* background-color: #fd790d; */
    /* position: relative;
    bottom:190px; */
    text-align: center;
}
footer .footer_btm .relation ul .family .family_wrap li a:hover {
    color:#000;
    transition: all 1s;
}
footer .footer_btm .relation ul .family .family_wrap li a {
    color:#fff; font-size: 0.75rem; font-weight: 600;
    transition: all 1s;
}


@keyframes arrow_move {
    0% {transform: translateY(-20px);}
    100% {transform: translateY(-50px);}
}